.client-link {
  height: 92px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: 1px solid var(--background-icon);
  
  background-color: var(--background-header);
  color: var(--background-icon);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    border: 1px solid var(--color-hover)
  } 
    
  &:hover .client-icon,
  &:focus .client-icon {
    fill: var(--color-hover);
  }  
}

.client-list {
display: flex;
}

.client-icon {
  fill: currentColor;
}

.client-title { 
  text-align: center;
  letter-spacing: 0.03em;
  
  color:var(--main-color);
}

@media screen and (max-width:479.98px){
  .client-item {
    width: 43.75%;
  
    &:nth-child(2n) {
      margin-left: 6.25%;
    }
    
    &:nth-child(-n+4) {
    margin-bottom: 6.25%;
    }
  }
}

@media screen and (min-width:480px) and (max-width:767.98px) {
  .client-item {
    width: 210px;
  
    &:nth-child(2n) {
      margin-left: 30px;
    }
    
    &:nth-child(-n+4) {
    margin-bottom: 30px;
    }
  }

  .client-title { 
    font-size: 28px;
    line-height: 1.18;
  }
}

@media screen and (min-width:768px) and (max-width:1199.98px) {
  .client-item {
    width: 226px;
    margin-right: 30px;
    margin-bottom: 30px;
  }
}

@media screen and (max-width:1199.98px) {
  .client {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .client-title {
    margin-bottom: 30px;
  }

  .client-list {
    flex-wrap: wrap;
  }

  .client-item {
     &:nth-child(3n) {
      margin-right: 0;
    }

     &:nth-last-child(-n + 3) {
      margin-bottom: 0;
    }
  }
}

@media screen and (min-width:1200px) {
  .client-item {
    width: 170px;

    &:not(:last-child) {
      margin-right: 30px;
    }
  }

  .client {
   padding-top: 94px;
   padding-bottom: 94px;
  }

  .client-title {
    font-size: 36px;
    line-height: 1.16;
    margin-bottom: 50px;
  }
}
