// .content {
//     padding-top: 94px;
//     padding-bottom: 94px;
//     background-color: var(--background-content);
//   }
  
//   .content-title {
//     font-weight: 700;
//     font-size: 36px;
//     line-height: 1.16;
//     text-align: center;
//     letter-spacing: 0.03em;
  
//     color: var(--content-title);
  
//     margin-bottom: 50px;
//   }
  
//   .content-list {
//     display: flex;
//   }
  
//   .content-item {
//     height: 428px;
  
//     width: 270px;
//     border-radius: 0px 0px 4px 4px;
//     background-color: var(--background-header);
//     box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 
//                 0px 1px 1px rgba(0, 0, 0, 0.14), 
//                 0px 2px 1px rgba(0, 0, 0, 0.2);

//                 &:not(:last-child) {
//                   margin-right: 30px;
//                 }            

    
//   }
  
//  .content-text {
//     padding: 30px 0;
//   }
  
//   .content-after-title {
//     font-weight: 500;
//     font-size: 16px;
//     line-height: 1.19;
//     text-align: center;
//     letter-spacing: 0.03em;
    
//     color: var(--main-color);
  
//     margin-bottom: 10px;
//   }
  
//   .content-headline {
//     font-weight: 400;
//     font-size: 16px;
//     line-height: 1.19;
//     text-align: center;
//     letter-spacing: 0.03em;
//     color: var(--text-color);
  
//     margin-bottom: 16px;
//   }
  
//   .content-team-list {
//     display: flex;
//     justify-content: center;
//   }
  
//   .content-team-item + .content-team-item {
//     margin-left: 10px;
//   }
  
  // .content-team-link{
  //   width: 44px;
  //   height: 44px;
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  //   border-radius: 50%;
  
  //   background-color: var(--background-header);
  //   color: var(--background-icon);
  //   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  //   &:hover,
  //   &:focus {
  //   background-color: var(--color-hover);
  //   color: var(--color-title);

  //    &.content-team-icon,
  //    &.content-team-icon {
  //     fill: var(--color-title);
  //   }
  // }
  // }
  
  // .content-team-icon{
  //   fill: currentColor;
  // }
  
.content {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--background-content);
  }

.content-title {
  text-align: center;
  letter-spacing: 0.03em;
    
  color: var( --main-color);

}

.content-item {
  background-color: white;
  border-radius: 0px 0px 4px 4px;
  background-color: var(--background-header);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 
              0px 1px 1px rgba(0, 0, 0, 0.14), 
              0px 2px 1px rgba(0, 0, 0, 0.2);

    
}

.content-text {
  padding-top: 30px;
  padding-bottom: 24px;
}

.content-team-list {
    display: flex;
    justify-content: center;
}

.content-team-item + .content-team-item {
        margin-left: 10px;
      }


.content-after-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;

  letter-spacing: 0.03em;
  text-align: center;

  color: #212121;
  margin-bottom: 10px;
}

.content-headline {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

  
  text-align: center;
  letter-spacing: 0.03em;
  
  color: #757575;
  margin-bottom: 16px;
}
      
.content-team-link{
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;

  background-color: var(--background-header);
  color: var(--background-icon);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
  background-color: var(--color-hover);
  color: var(--color-title);

   &.content-team-icon,
   &.content-team-icon {
    fill: var(--color-title);
  }
}
}

.content-team-icon{
  fill: currentColor;
}

@media screen and (max-width: 767.98px) {
  .content-item:not(:last-child) {
      margin-bottom: 30px;
    }
  }

@media screen and (min-width: 768px) {
  .content-list {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  // .content-item:nth-child(2n) {
  //   margin-left: 30px;
  //  }
 
  //  .content-item:nth-child(-n+2) {
  //    margin-bottom: 30px;
  //  }
  .content-item {
    margin-top: 30px;
    margin-left: 30px;
  }
  .content-list {
    margin-top: -30px;
    margin-left: -30px;
  }

}

@media screen and (max-width: 1199.98px) {
   .content-title {
    font-size: 28px;
    line-height: 1.18;
    margin-bottom: 30px;
}
}

@media screen and (min-width: 1200px){
  .content {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  
  .content-item:not(:last-child) {
    margin-right: 30px;
  }

  .content-title {
        font-size: 36px;
        line-height: 1.16;
        margin-bottom: 50px;
  }
}
//   .content-title {
//     font-size: 36px;
//     line-height: 1.16;
    
//     margin-bottom: 50px;
//   }
//   .content {
//     padding-top: 94px;
//     padding-bottom: 94px;
//   }

// }

//   .content-item {
//     &:not(:last-child) {
//       margin-bottom: 30px;
//     }
//   }
//  }
// // 768px+
// @media screen and (min-width:768px) {
//   .content-item {
//     flex-basis: calc((100% - 30px) / 2);
//   }

//   .content-list {
//     display: flex;
//     justify-content: space-between;
//   }
// }

// @media screen and (max-width:1199px) {
//   .content-list {
//     flex-wrap: wrap;
//     gap: 30px;
//   }
// }

// @media screen and (min-width:1200px) {
//   .content-item {
//     flex-basis: calc((100% - 120px) / 4);
//   }
// }




















// img {
//   display: block;
//   max-width: 100%;
//   height: auto;
// }
// // 0px - 767px
// @media screen and (max-width:767px) {
//     .content-after-title,
//     .content-headline {
//       text-align: center;
//     }
//   }

//   .content-title {
//       margin-bottom: 30px;
//   }
  
//   .content-after-title {
//       margin-bottom: 10px;
//   }

//   .content-headline {
//       margin-bottom: 16px;
//   }

//   .content-team-item {
//       margin-bottom: 16px;
//   }
  
// // 768px+
// @media screen and (min-width:768px) {
//     .content-text {
//       display: flex;
//     }
  
//     .content-text {
//       width: 354px;
//     }
