.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--background-hero);
}

.footer-link-location {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  
   color: var(--color-title);
  
  margin-bottom: 9px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
  color: var(--color-hover)
  }
}

.footer-network-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  cursor: pointer;
  fill: var(--color-title);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:not(:last-child) {
    margin-right: 10px;
  }
}

.footer-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  
  color: #FFFFFF;

  margin-bottom: 20px;
}

.footer-network-list {
  display: flex;
  justify-content:center
}

.footer-network-item:not(:last-child) {
  margin-right: 10px;
}

.footer-link-mail,
.footer-link-tel {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  
  color: rgba(255, 255, 255, 0.6);
  
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
       
  &:hover,
  &:focus {
    color: var(--color-hover);
  }
}

.footer-network-link {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;

  background-color: var(--footer-icon);
  color: var(--color-title);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--color-hover);
  }
}

.footer-network-icon {
  fill: currentColor;
}

@media screen and (max-width: 767.98px) {
  .footer-address {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 768px) {
  .footer-container-wrapper {
    display: flex;
    justify-content: center;
    align-items: baseline;

  }

  .footer-address {
    margin-right: 165px;
  }
}

@media screen and (max-width: 1199.98px) {
  .footer-title {
    text-align: center;
  }
  .footer-list {
    text-align: center;
  }

  .footer-container-wrapper {
    margin-bottom: 60px;
  }

  .footer-item:not(:last-child) {
    margin-bottom: 8px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-container {
    display: flex;
    align-items: baseline;
  }

  .footer-item:not(:last-child) {
    margin-bottom: 9px;
 }
  
  .footer-address {
    margin-right: 70px;
  }
}