.hero {
  padding-top: 118px;
  padding-bottom: 118px;

  text-align: center;
  max-width: 480px;
  min-height: 400px;
  margin-left: auto;
  margin-right: auto;

  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ), url('../image2/Header-mobile.jpg');

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
      .hero {
        max-width: 480px;
        height: 400px;
          background-image:linear-gradient(
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
        ),  url('../image2/Header-mobile@2x.jpg');
      }
    }

// 768px+
@media screen and (min-width:481px) {
    .hero {
        max-width: 768px;
        background-image: linear-gradient(
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
        ), url('../image2/Heade-tablet.jpg');
    }
}

@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
      .hero {
          
          background-image:linear-gradient(
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
        ),  url('../image2/Header-tablet@2x.jpg');
      }
    }


// 1200px +
@media screen and (min-width:769px) {
    .hero {
        max-width:1600px;
       height: 400px;
        padding-top: 118px;
        padding-bottom: 118px;
        
        background-image: linear-gradient(
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
        ), url('../image2/Header-destore.jpg');
    }
}

@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
      .hero {
          background-image:linear-gradient(
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
        ),  url('../image2/Header-destore@2x.jpg');
      }
    }


@media screen and (min-width:1200px) {
       .hero {
        height: 600px;
        padding-top: 200px;
        padding-bottom: 200px;
       }
}