.navigation {
  padding-top: 60px;
  padding-bottom: 60px;
}

.navigation-link {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  position: relative;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
  &:hover,
  &:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 
              0px 4px 4px rgba(0, 0, 0, 0.06), 
              1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.nav-text {
  padding: 20px 20px;
  
  border: 1px solid var(--border-color);
}

.navigation-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2.00; 
  letter-spacing: 0.06em;
  
  color: var(--main-color);
  
  margin-bottom: 4px;
}

.navigation-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  
  color: var(--text-color);
}
  
.navigation-link-img {
  position: relative;
  overflow: hidden;
}

.navigation-item:not(:last-child) {
  margin-bottom: 30px;
}

.nav-list {
  display: flex;
  flex-wrap: wrap;
}


// @media screen and (min-width:768px) {
//   .nav-list {
//     display: flex;
//     flex-wrap: wrap;
//   }
// }


@media screen and (min-width:768px) and (max-width:1199.98px) {

    .navigation-item {
      flex-direction: column;
      flex-basis: 354px;
    }
    .navigation-link .nav-text {
      flex-grow: 1;
    }
  .navigation-item:nth-child(2n) {
    margin-left: 30px;
  }
 
  .navigation-item:nth-child(-n+2) {
    margin-bottom: 30px;
  }

 

//   .nav-text > .navigation-title {
//     flex-grow: 1;
//   }

//   .nav-text > .navigation-text {
//     flex-grow: 1;
//   }
}

// 768px+
@media screen and (min-width:1200px) {
  .navigation-item {
    width: 370px;
    margin-right: 30px;
    margin-bottom: 30px;

     &:nth-child(3n) {
       margin-right: 0;

    }
     &:nth-last-child(-n + 3) {
        margin-bottom: 0;
    }
  }
}







