.logo-header {
  display: inline-block;
    
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  
  color: var(--color-hover);
}

.logo-dark {
  color: var(--main-color);
}

@media screen and (max-width:767.98px) {
  .logo-header {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

@media screen and (min-width:768px) {
  .logo-header {
    padding-top: 26px;
    padding-bottom: 26px;
  }
}
// 1200px +
@media screen and (min-width:1200px) {
  .logo-header {
    margin-right: 93px;
    padding-top: 24px;
    padding-bottom: 25px;
  }
}

