.navigation-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em; 
  
  color: var(--main-color);
  background-color: var(--background-content);
  border-radius: 4px;
  border: var(--border-color);
  
  cursor: pointer;
  
  padding: 6px 22px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                          color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
  box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--color-hover);
    color: var(--footer-color-logo);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 
                0px 1px 2px rgba(0, 0, 0, 0.08), 
                0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}
  
.navigation-list {
  display: flex;

  .active {
    background-color: var(--color-hover);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    color: var(--background-header);
  }
}

.btn-item:not(:last-child) {
  margin-right: 8px;
}

@media screen and (max-width: 767.98px) {
  .navigation-list {
    flex-wrap: wrap;
    align-content: flex-start;
    margin-bottom: 40px;
  }

  .btn-item:nth-child(-n + 3) {
    margin-bottom: 15px;
  }
}

@media screen and (min-width: 768px) {
  .navigation-list {
    justify-content: center;
  }
}

@media screen and (max-width: 1199.98px) {
  .navigation-list {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .navigation-list {
    margin-bottom: 50px;
  }
}